li a{
    color: #fff;
    background-color: #1B226E;
    text-decoration: none;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    font-size: 35px;
}
nav ul li:hover a{
    background-color: #081bea;
    transition: 600ms;

}





div#welcome h1{
    font-size: 50px;
    padding-left: 38%;
}
div#tout div{
    display: inline-block;
    width: 48%;
}
div#tout div p,img{
    margin: 50px;
}
div#tout div.gauche{
    vertical-align: top;
}
div#tout div.droite{
    vertical-align: top;
}
/* div.gauche p.main{
    font-weight: bold;
    background-color: aqua;
}
div.droite p.main{
    font-weight: bold;
} */
div#tout div.main p{
    font-weight: bold;
    color: #000;
}
div#tout div.main , div.deux{
    background-color: aqua;
}
div#tout div.gauche div{
    width: 100%;
}
div#tout div.droite div{
    width: 100%;
}










header{
    font-size: 75px;
}
footer{
    font-size: 75px;
}