div#content div{
  display: inline-block;
  width: 48%;
}
div.leftbox{
  vertical-align: top;
  background-color: aquamarine;
}
div.rightbox{
  background-color: beige;
}
div#content div.test{
  background-color: red;
  margin-top: 30px;
  width: 100%;
 }
div.test img{
  border-radius: 2000%;
}
.btn a{
  color: #fff; 
  background-color: #0a0d28;
  text-decoration: none;
  font-size: 30px;
  display: inline-block ;
  list-style-type: none ;
}
.btn:hover a{
  background-color: #1B226E;
  transition: 1s all;
}
.btn{
  display: inline-block;
}